body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: rgba(238, 130, 238, 0.43);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: pink;
}
.character-card {
    width: 15em;
    height: 20em;
    border-radius: 30px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.character-card__field {
    width: 90%;
    border-radius: 10px;
    height: 4em;
    border: 2px solid black;
}