* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.rules-container {
    width: 100%;
    height: 100%;
    background-color: rgba(31, 3, 115, 0.75);
    position: absolute;
    z-index: 2;
}
.work-name {
    position: fixed;
    top: 10px;
    left: 20px;
    color: #ffffff;
    font-style: italic;
}
.title {
    color: #ffffff;
    margin-bottom: 20px;
}
.guitar {
    height: 80%;
    width: 80%;
    position: relative;
}

#guitar {
    width: 100%;
    height: 100%;
    position: absolute;
}

.string {
    height: 4%;
    width: 100%;
    background-color: rgba(0, 11, 255, 0.14);
    position: absolute;
}
#string1 {
    top: 21%;
}

#string2 {
    top: 31%;
}

#string3 {
    top: 40%;
}

#string4 {
    top: 49%;
}

#string5 {
    top: 58%;
}

#string6 {
    top: 66%;
}

.designed {
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: #ffffff;
    font-style: italic;
}