body {
    background: linear-gradient(24deg, #230f55, #121225, #180936);
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
h1 {
    color: white;
}
#form {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin-bottom: 2rem;
}
.form-field {
    width: 35%;
    margin-bottom: 0.8rem;
    height: 2rem;
    border-radius: 3px;
    border: 0;
    padding-left: 2rem;
    color: #fff;
    font-size: 1.8rem;
    font-family: monospace;
    background-color: rgba(255, 255, 255, 0.25);
    transition: 0.4s;
}
#submit {
    border: 0;
    border-radius: 5px;
    height: 2.5rem;
    width: 10rem;
    background-color: #268254;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    font-family: monospace;
    transition: 0.7s;
}
.hide {
    display: none;
}
#reset {
    border: 0;
    border-radius: 5px;
    height: 2.5rem;
    width: 10rem;
    background-color: #268254;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    font-family: monospace;
    position: absolute;
    right: 2rem;
    transition: 0.7s;
}
.data {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.resData {
    color: #fff;
    font-family: monospace;
    font-size: 1.6rem;
    height: 3rem;
    display: flex;
    width: 60%;
    position: relative;
    border-radius: 5px;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
    align-items: center;
    transition: 0.7s;
}
.resData:nth-child(even) {
    background-color: rgba(215, 227, 255, 0.21);
}
.resData:nth-child(odd) {
    background-color: rgba(135, 255, 231, 0.21);
}

.values {
    color: #fff;
    font-weight: 900;
    position: absolute;
    right: 1rem;
}

.form-field:focus {
    background-color: #fff;
    color: #000;
}
#submit:hover, #reset:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 5px #2ab380;
}

.resData:hover {
    margin-left: 2rem;
}

